TroubleTicket.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://interop-fibre.fr/SAV/3.0/TroubleTicket" elementFormDefault="qualified"
>
			<xsd:simpleType name="serviceProviderID">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="9"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="serviceProviderName">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="40"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="serviceProviderUnit">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="40"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="serviceProviderPhoneNumber">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="25"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="supplierID">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="9"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="supplierName">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="40"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="supplierUnit">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="40"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="supplierPhoneNumber">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="25"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="troubleTicketType">
				<xsd:restriction base="xsd:integer">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="offerId">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="commercialId">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="technicalId">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PRDMId">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="20"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PMTechnicalId">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="serviceProviderTroubleTicketKey">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="customerLastName">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="customerFirstName">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="appointmentMode">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="25"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="contactPhoneNumber1">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="25"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="contactPhoneNumber2">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="25"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="customerAccessibilityHours">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="appointmentMode">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="AUTO"/>
					<xsd:enumeration value="MANUEL"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="SUAppointmentManagementId">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="defectClassId">
				<xsd:restriction base="xsd:integer">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="defectDescription">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="defectPrelocalization">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="PTO"/>
					<xsd:enumeration value="RACCO PALIER"/>
					<xsd:enumeration value="PBO"/>
					<xsd:enumeration value="PM-PBO"/>
					<xsd:enumeration value="PM"/>
					<xsd:enumeration value="PRDM"/>
					<xsd:enumeration value="PM-PRDM"/>
					<xsd:enumeration value="BRAM"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="messageType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="DEMANDE"/>
					<xsd:enumeration value="REPONSE"/>
					<xsd:enumeration value="INFO"/>
					<xsd:enumeration value="AVANCEMENT INTERVENTION"/>
					<xsd:enumeration value="DEMANDE RDV"/>
					<xsd:enumeration value="REPONSE RDV"/>
					<xsd:enumeration value="PROPOSITION DE RDV"/>
					<xsd:enumeration value="ESCALADE"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="messageContent">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="1024"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="supplierResolutionAction">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="INTERVENTION SANS RDV"/>
					<xsd:enumeration value="INTERVENTION AVEC RDV"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="supplierResolutionState">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ACTION A DEFINIR"/>
					<xsd:enumeration value="ACTION PREVUE"/>
					<xsd:enumeration value="ACTION PLANIFIEE"/>
					<xsd:enumeration value="NOUVELLE ACTION A PREVOIR"/>
					<xsd:enumeration value="ACTION ANNULEE"/>
					<xsd:enumeration value="ACTION TERMINEE"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="troubleTicketClosureCode">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ERR01"/>
					<xsd:enumeration value="ERR03"/>
					<xsd:enumeration value="ERR04"/>
					<xsd:enumeration value="ERR05"/>
					<xsd:enumeration value="ERR06"/>
					<xsd:enumeration value="ERR07"/>
					<xsd:enumeration value="ERR08"/>
					<xsd:enumeration value="RET01"/>
					<xsd:enumeration value="RET02"/>
					<xsd:enumeration value="RET03"/>
					<xsd:enumeration value="RET04"/>
					<xsd:enumeration value="RET05"/>
					<xsd:enumeration value="RET06"/>
					<xsd:enumeration value="STT01"/>
					<xsd:enumeration value="STT02"/>
					<xsd:enumeration value="STT03"/>
					<xsd:enumeration value="ABS01"/>
					<xsd:enumeration value="ABS02"/>
					<xsd:enumeration value="EXC01"/>
					<xsd:enumeration value="EXC02"/>
					<xsd:enumeration value="EXC03"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="troubleTicketClosureLabel">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ERR01#SIG NON PRISE EN COMPTE : LE PRODUIT N EST PAS DANS VOTRE PARC"/>
					<xsd:enumeration value="ERR03#INFORMATIONS INCOMPLETES"/>
					<xsd:enumeration value="ERR04#SIG NON PRISE EN COMPTE : AUTRE SIG EN COURS DE TRAITEMENT"/>
					<xsd:enumeration value="ERR05#CLOTURE DU TICKET DE MAINTENANCE PROGRAMMEE"/>
					<xsd:enumeration value="ERR06#LA DEMANDE DE RENSEIGNEMENT EST RESTEE SANS SUITE : TICKET CLOS"/>
					<xsd:enumeration value="ERR07#INCIDENT ABANDONNE SUR DEMANDE DE L OC (ETAT QUEUED)"/>
					<xsd:enumeration value="ERR08#UNE RESILIATION A ETE REÇUE"/>
					<xsd:enumeration value="RET01#DEFAUT CONFIRME ET CORRIGE PAR OI"/>
					<xsd:enumeration value="RET02#PRELOC ERRONEE, DEFAUT CORRIGE PAR OI"/>
					<xsd:enumeration value="RET03#CLOTURE DU TICKET D INCIDENT GENERALISE (DERANGEMENT COLLECTIF)"/>
					<xsd:enumeration value="RET04#DEFAUT CAUSE PAR UN TIERS IDENTIFIE"/>
					<xsd:enumeration value="RET05#DEFAUT LIE A DES CAUSES EXCEPTIONNELLES (INTEMPERIES)"/>
					<xsd:enumeration value="RET06#DEFAUT LIE A UN VANDALISME"/>
					<xsd:enumeration value="STT01#PAS DE DEFAUT CONSTATE SUR LA PARTIE DE L OI"/>
					<xsd:enumeration value="STT02#INCIDENT ABANDONNE SUR VOTRE DEMANDE (ETAT OPEN ACTIVE - INTERVENTION LANCEE)"/>
					<xsd:enumeration value="STT03#DEFAUT DETECTE RESPONSABILITE OC"/>
					<xsd:enumeration value="ABS01#CLIENT ABSENT, NECESSITE D INTERVENIR CHEZ LUI, PAS DE RDV PLANIFIE"/>
					<xsd:enumeration value="ABS02#CLIENT ABSENT LORS DU RDV"/>
					<xsd:enumeration value="EXC01#DESACCORD TERRAIN SUITE EXPERTISE CONJOINTE"/>
					<xsd:enumeration value="EXC02#TECHNICIEN OC ABSENT"/>
					<xsd:enumeration value="EXC03#TECHNICIEN OI ABSENT"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="defectLocalization">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="PTO"/>
					<xsd:enumeration value="RACCO PALIER"/>
					<xsd:enumeration value="PBO"/>
					<xsd:enumeration value="PM-PBO"/>
					<xsd:enumeration value="PM"/>
					<xsd:enumeration value="PRDM"/>
					<xsd:enumeration value="PM-PRDM"/>
					<xsd:enumeration value="BRAM"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="defectResponsibility">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="OI"/>
					<xsd:enumeration value="OC"/>
					<xsd:enumeration value="TIERS"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="reprovisionningId">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="troubleTicketClosureComment">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="1024"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ListImpactCommercialId">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="1024"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ListImpactTechnicalId">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="1024"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="GRTDelay">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="GRTSignalingRangeDay">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="GRTRecoveryRange">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="20"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="GRTSignalingRangeHour">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LinkLengthPMPRDM">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="5"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="DelivryPointPRDM">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="70"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="DelivryPointPM">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="70"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CriticalLevel">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="OfferLinkValue">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="OfferOptionalId">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="OLTranking">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
</xsd:schema>